
<div class="jumbotron">
    <h1>Budget Application</h1>
    <h4>Budget summary information for all the registered users of the system.</h4>
</div>
<div  id="summaryContent">
    <script src="@Url.Content("~/app/Summary/summary.jsx")"></script>   
</div>